@charset "utf-8";
/*Google Font*/
/*Garamond + Shippori MIncho*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Shippori+Mincho&display=swap');


/*Computer View*/
body{
    /*フォントの指定*/
    font-family: 'EB Garamond','Shippori Mincho', serif;
    /*中央揃え*/
    text-align: center;
    min-width:100%;
}
.top{
    /*親要素にする*/
    position:relative;
    /*背景画像を指定する*/
    background:url(../img/bg_top.jpg) center / cover;
    /*画面高さの100%を占有して表示*/
    height:100vh;
    /*背景画像を固定する*/
    background-attachment: fixed;
}
.img_logo{
    /*子要素にする*/
    position:absolute;
    /*画面幅の20％を占有して表示*/
    width : 20vw;
    /*上下左右の中央揃え*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.container {
    /*要素からはみ出た場合はブラウザに依存*/
    overflow: auto;
    /*スクロールスナップ方向：縦方向*/
    scroll-snap-type: y;
    /*画面高さの100%を占有して表示*/
    height: 100vh;
}
.box{
    /*左右均等に並べる*/
    display: flex;
    /*画面高さの100%を占有して表示*/
    height:100vh;
    /*並び順*/
    /*
    flex-start：左寄せ（デフォルト）
    flex-end：右寄せ
    center： 中央寄せ
    space-between：残り余白の均等割り
    space-around：左右余白 ＋ 均等割り
    */
    justify-content: space-around;
    /*要素を中央寄せにする*/
    align-items: center;
    /*スクロールスナップする位置*/
    scroll-snap-align:center;
}
.service{
    /*親要素にする*/
    position:relative;
    /*背景画像を指定する*/
    /*background:url(../img/bg_top_1.jpg) center / cover;
    /*画面高さの100%を占有して表示*/
    height:100vh;
    /*背景画像を固定する*/
    background-attachment: fixed;
}
.left{
    /*親要素にする*/
    position:relative;
    /*要素の幅を指定　左右均等がベター*/
    width:500px;
}
.right{
    /*親要素にする*/
    position:relative;
    /*要素の幅を指定　左右均等がベター*/
    width:500px;
}
.img_title{
    /*子要素にする*/
    position:absolute;
    /*画面幅の40％を占有して表示*/
    width : 40vw;
    /*上下左右の中央揃え*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.index{
    font-size:25px;
    line-height: 2.5;
    text-align: center;
}
.description{
    font-size:15px;
    line-height: 1.5;
    text-align:center;
}
.prof{
    background: url(../img/bg_prof.gif) center / cover;
    color:rgb(128, 0, 0); 
}
.social{
    font-size:15px;
}
.link{
    text-decoration: none;
    color:rgb(128, 0, 0);
}
.slide{
    width:500px;
}







/*Tablet View*/
@media screen and (max-width: 959px) {

    body{
        /*フォントの指定*/
        font-family: 'EB Garamond','Shippori Mincho', serif;
        /*中央揃え*/
        text-align: center;
        min-width:100%;
    }
    .top{
        /*親要素にする*/
        position:relative;
        /*背景画像を指定する*/
        background:url(../img/bg_top.jpg) center / cover;
        /*画面高さの100%を占有して表示*/
        height:100vh;
        /*背景画像を固定する*/
        background-attachment: fixed;
    }
    .img_logo{
        /*子要素にする*/
        position:absolute;
        /*画面幅の40％を占有して表示*/
        width : 40vw;
        /*上下左右の中央揃え*/
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .container {
        /*要素からはみ出た場合はブラウザに依存*/
        overflow: auto;
        /*スクロールスナップ方向：縦方向*/
        scroll-snap-type: y;
        /*画面高さの100%を占有して表示*/
        height: 100vh;
    }
    .box{
        /*左右均等に並べる*/
        display: flex;
        /*画面高さの100%を占有して表示*/
        height:100vh;
        /*並び順*/
        /*
        flex-start：左寄せ（デフォルト）
        flex-end：右寄せ
        center： 中央寄せ
        space-between：残り余白の均等割り
        space-around：左右余白 ＋ 均等割り
        */
        justify-content: center;
        /*要素を中央寄せにする*/
        align-items: center;
        /*スクロールスナップする位置*/
        scroll-snap-align:center;
        /*縦並びにする*/
        flex-direction:column;
    }
    .service{
        /*親要素にする*/
        position:relative;
        /*背景画像を指定する*/
        /*background:url(../img/bg_top_1.jpg) center / cover;
        /*画面高さの100%を占有して表示*/
        height:100vh;
        /*背景画像を固定する*/
        background-attachment: fixed;
    }
    .left{
        /*親要素にする*/
        position:relative;
        /*要素の幅を指定　左右均等がベター*/
        width:500px;
    }
    .right{
        /*親要素にする*/
        position:relative;
        /*要素の幅を指定　左右均等がベター*/
        width:500px;
    }
    .img_title{
        /*子要素にする*/
        position:absolute;
        /*画面幅の50％を占有して表示*/
        width : 50vw;
        /*上下左右の中央揃え*/
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        margin-bottom:2rem;
    }
    .index{
        font-size:25px;
        line-height: 2.5;
        text-align: center;
    }
    .description{
        font-size:15px;
        line-height: 1.5;
        text-align:center;
    }
    .prof{
        background: url(../img/bg_prof.gif) center / cover;
        color:rgb(128, 0, 0); 
    }
    .social{
        font-size:20px;
    }
    .link{
        text-decoration: none;
        color:rgb(128, 0, 0);
    }
    .slide{
        width:50vw;
    }

}


/*Mobile View*/
@media screen and (max-width: 480px) {

    body{
        /*フォントの指定*/
        font-family: 'EB Garamond','Shippori Mincho', serif;
        /*中央揃え*/
        text-align: center;
    }
    .top{
        /*親要素にする*/
        position:relative;
        /*背景画像を指定する*/
        background:url(../img/bg_top_mobile.jpg) center / cover;
        /*画面高さの100%を占有して表示*/
        height:100vh;
        /*背景画像を固定する*/
        background-attachment: fixed;
    }
    .img_logo{
        /*子要素にする*/
        position:absolute;
        /*画面幅の60％を占有して表示*/
        width : 60vw;
        /*上下左右の中央揃え*/
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .container {
        /*要素からはみ出た場合はブラウザに依存*/
        overflow: auto;
        /*スクロールスナップ方向：縦方向*/
        scroll-snap-type: y;
        /*画面高さの100%を占有して表示*/
        height: 100vh;
    }
    .box{
        /*左右均等に並べる*/
        display: flex;
        /*画面高さの100%を占有して表示*/
        height:100vh;
        /*並び順*/
        /*
        flex-start：左寄せ（デフォルト）
        flex-end：右寄せ
        center： 中央寄せ
        space-between：残り余白の均等割り
        space-around：左右余白 ＋ 均等割り
        */
        justify-content: center;
        /*要素を中央寄せにする*/
        align-items: center;
        /*スクロールスナップする位置*/
        scroll-snap-align:center;
        /*縦並びにする*/
        flex-direction:column;
    }
    .service{
        /*親要素にする*/
        position:relative;
        /*背景画像を指定する*/
        /*background:url(../img/bg_top_1.jpg) center / cover;
        /*画面高さの100%を占有して表示*/
        height:100vh;
        /*背景画像を固定する*/
        background-attachment: fixed;
    }
    .left{
        /*親要素にする*/
        position:relative;
        /*要素の幅を指定　左右均等がベター*/
        width:300px;
    }
    .right{
        /*親要素にする*/
        position:relative;
        /*要素の幅を指定　左右均等がベター*/
        width:300px;
    }
    .img_title{
        /*子要素にする*/
        position:absolute;
        /*画面幅の80％を占有して表示*/
        width : 80vw;
        /*上下左右の中央揃え*/
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        margin-bottom:2rem;
    }
    .index{
        font-size:25px;
        line-height: 2.5;
        text-align: center;
    }
    .description{
        font-size:15px;
        line-height: 1.5;
        text-align:center;
    }
    .prof{
        background: url(../img/bg_prof.gif) center / cover;
        color:rgb(128, 0, 0); 
    }
    .social{
        font-size:20px;
    }
    .link{
        text-decoration: none;
        color:rgb(128, 0, 0);
    }
    .slide{
        width:60vw;
    }

}
