@charset "utf-8";

/*************************/
/* 標準画面 PC設定 ここから*/
/*************************/

/* 基本設定 */
body {
    font-family: 'Nanum Myeongjo','Noto Serif JP',serif;
    text-align: center;
}

p {
    line-height: 1.7;
}

/* top */

.top {
    /* 親要素にする */
    position: relative;
    /* 画面高さの60%に固定する */
    height: 100vh;
    /* 背景画像を設定 */
    background: url("../img/bg.jpeg") center / cover;
    /* スクロール開始位置を固定する（ピタッと止まる）*/
    scroll-snap-align: start;
    /* 背景画像を固定する*/
    background-attachment: fixed;
}

.logo {
    /* 子要素にする */
    position:absolute;
    /* 画面幅の20％ */
    width : 20vw;
    /* 上下左右の中央揃え */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.container {
    /* スクロールスナップの設定 */
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}


.titleimg{
    position:absolute;
    /* 画面幅の20％ */
    width : 40vw;
    /* 上下左右の中央揃え */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/* SERVICE */

.area {
    /* 背景色の設定*/
    background-color:white;
    /* 親要素にする */
    position: relative;
    /* 画面高さの60%に固定する */
    height: 100vh;
    padding: 1rem;
    /* スクロール位置を固定する（ピタッと止まる）*/
    scroll-snap-align: start;
    /* テキストを画面中央に表示 */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* サブタイトル*/
.subtitle {
    font-size: 2rem;
}

/* 説明文 */
.description {
    font-size: 1rem;
}

.caption {
    /* 背景色の設定*/
    background-color:white;
    /* 親要素にする */
    position: relative;
    /* 画面高さの60%に固定する */
    height: 100vh;
    padding: 1rem;
    /* スクロール位置を固定する（ピタッと止まる）*/
    scroll-snap-align: start;

    /* テキストを画面中央に表示 */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mask {
	width:100%;
	height:100%;
    /* 絶対位置指定 */
	position:absolute;
	top:0;
	left:0;
    /* マスクを表示しない */
	opacity:0;
	-webkit-transition:all 1.5s ease;
	transition:all 3s ease;
	transition-duration: 3s;
}

.area:hover .mask {
    /* マスクを表示する */
	opacity:1;
}


.caption_1 {
    /* 背景色の設定*/
    background: url("../img/bg_1.jpg") center / cover;
    /* 親要素にする */
    position: relative;
    /* 画面高さの60%に固定する */
    height: 100vh;
    padding: 1rem;
    /* スクロール位置を固定する（ピタッと止まる）*/
    scroll-snap-align: start;

    /* テキストを画面中央に表示 */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caption_2 {
    /* 背景色の設定*/
    background: url("../img/bg_2.JPG") center / cover;
    color:white;
    /* 親要素にする */
    position: relative;
    /* 画面高さの60%に固定する */
    height: 100vh;
    padding: 1rem;
    /* スクロール位置を固定する（ピタッと止まる）*/
    scroll-snap-align: start;

    /* テキストを画面中央に表示 */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caption_3 {
    /* 背景色の設定*/
    background: url("../img/bg_3.JPG") center / cover;
    color:white;
    /* 親要素にする */
    position: relative;
    /* 画面高さの60%に固定する */
    height: 100vh;
    padding: 1rem;
    /* スクロール位置を固定する（ピタッと止まる）*/
    scroll-snap-align: start;

    /* テキストを画面中央に表示 */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caption_4 {
    /* 背景色の設定*/
    background-color:black;
    color:white;
    /* 親要素にする */
    position: relative;
    /* 画面高さの60%に固定する */
    height: 100vh;
    padding: 1rem;
    /* スクロール位置を固定する（ピタッと止まる）*/
    scroll-snap-align: start;

    /* テキストを画面中央に表示 */
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* Slideshow */

.slider {
    width: 400px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
}
.slider-item {
    width: 400px;
    float: left;
}
img{
    width:100%;
}
.slider-inner {
    width: 800%;
    animation: slider 20s infinite ease;
}

@keyframes slider {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-400px);
    }
    50% {
        transform: translateX(-800px);
    }
    75% {
        transform: translateX(-1200px);
    }
    100% {
        transform: translateX(0);
    }
}






/*  profile  */
.profile {
    padding-bottom:20%;
}
.profimg {
        width : 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom:0;
}
.intro{
        padding-top:10%;
        font-size : 15px;
        text-align: center;
        letter-spacing: 1px;
        line-height: 25px;
}
.link{
    text-decoration: none;
    color:gold;
}



/**************************/
/* 標準画面 PC設定 ここまで */
/**************************/




/* PC用のCSSはメディアクエリの外に記述する */

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */

    .title {
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    /* サブタイトル*/
    .subtitle {
        font-size: 2rem;
    }

    /* 説明文 */
    .description {
        font-size: 1rem;
    }

    .intro{
        padding-top:10%;
        font-size : 20px;
        text-align: center;
        letter-spacing: 1px;
        line-height: 25px;
    }

  .logo{
    position:absolute;
    width : 350px;
    top   : 50%;
    left  : 50%;
    transform:translate(-50% , -50%);
    margin-top: 5%;
  }


}





@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */

    .title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    /* サブタイトル*/
    .subtitle {
        font-size: 1.5rem;
    }
    /* 説明文 */
    .description {
        font-size: 0.6rem;
    }
    .intro{
        font-size : 10px;
        text-align: center;
        letter-spacing: 1px;
        line-height: 25px;
    }
    
    .logo{
        position:absolute;
        width : 250px;
        top   : 50%;
        left  : 50%;
        transform:translate(-50% , -80%);
        margin-top: 5%;
    }



/* Slideshow */

    .slider {
        width: 300px;
        height: 200px;
        overflow: hidden;
        margin: 0 auto;
    }
    .slider-item {
        width: 300px;
        float: left;
    }
    img{
        width:100%;
    }
    .slider-inner {
        width: 600%;
        animation: slider 20s infinite ease;
    }

    @keyframes slider {
        0% {
        transform: translateX(0);
        }
        25% {
        transform: translateX(-300px);
        }
        50% {
        transform: translateX(-600px);
        }
        75% {
        transform: translateX(-900px);
        }
        100% {
        transform: translateX(0);
        }
  }
}


