@charset "utf-8";
/*Google Font*/
/*Garamond + Shippori MIncho*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Shippori+Mincho&display=swap');


/*Computer View*/
body{
    /*フォントの指定*/
    font-family: 'EB Garamond','Shippori Mincho', serif;
    /*中央揃え*/
    text-align: center;
}
.top{
    /*親要素にする*/
    position:relative;
    /*背景画像を指定する*/
    background:url(../img/bg_top.jpg) center / cover;
    /*画面高さの100%を占有して表示*/
    height:100vh;
    /*背景画像を固定する*/
    background-attachment: fixed;
    /* スクロール開始位置を固定する（ピタッと止まる）*/
    scroll-snap-align: start;
}
.img_logo{
    /*子要素にする*/
    position:absolute;
    /*画面幅の20％を占有して表示*/
    width : 20vw;
    /*上下左右の中央揃え*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.scroll-snapper{
    /*スクロールスナップの設定*/
    overflow:auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}
.service{
    /*親要素にする*/
    position:relative;
    /*画面高さの100%を占有して表示*/
    height:100vh;
    /*背景色の設定*/
    background-color:white;
    /*スクロール開始位置を固定する（ピタッと止まる*/
    scroll-snap-align: start;
}
.works{
    /*親要素にする*/
    position:relative;
    /*画面高さの100%を占有して表示*/
    height:100vh;
    /*背景色の設定*/
    background-color:white;
    /*スクロール開始位置を固定する（ピタッと止まる*/
    scroll-snap-align: start;
}
.profile{
    /*親要素にする*/
    position:relative;
    /*画面高さの100%を占有して表示*/
    height:100vh;
    /*背景色の設定*/
    background-color:white;
    /*スクロール開始位置を固定する（ピタッと止まる*/
    scroll-snap-align: start;
}
.other-activities{
    /*親要素にする*/
    position:relative;
    /*画面高さの100%を占有して表示*/
    height:100vh;
    /*背景色の設定*/
    background-color:white;
    /*スクロール開始位置を固定する（ピタッと止まる*/
    scroll-snap-align: start;
}
.img_title{
    /*子要素にする*/
    position:absolute;
    /*画面幅の50％を占有して表示*/
    width : 50vw;
    /*上下左右の中央揃え*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.index{
    font-size:30px;
    line-height: 2.5;
}
.description{
    font-size:20px;
    line-height: 1.5;
}
.hover-area {
    /*背景色の設定*/
    background-color:white;
    /*親要素にする*/
    position: relative;
    /*画面高さの100%占有して表示*/
    height: 100vh;
    /*テキストを画面中央に表示*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mask{
    width:100%;
    height:100%;
    /*絶対位置指定*/
    position:absolute;
    top:0;
    left:0;
    /* マスクを表示しない */
    opacity:0;
    -webkit-transition:all 1.7s ease;
    transition:all 1.7s ease;
    transition-duration: 1.7s;
}
.hover-area:hover .mask {
    /* マスクを表示する */
	opacity:1;
}
.hovered_1{
    /* 背景画像の設定*/
    background: url("../img/bg_service.jpg") center / cover;
    /*文字色を指定する*/
    color:black;
    /* 親要素にする */
    position: relative;
    /* 画面高さの100%に固定する */
    height: 100vh;
    /* テキストを画面中央に表示 */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hovered_2{
    /* 背景画像の設定*/
    /*background: url("../img/bg_works.jpg") center / cover;
    /*文字色を指定する*/
    color:black;
    /* 親要素にする */
    position: relative;
    /* 画面高さの100%に固定する */
    height: 100vh;
    /* テキストを画面中央に表示 */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hovered_3{
    /* 背景画像の設定*/
    background: url("../img/bg_prof.gif") center / cover;
    /*文字色を指定する*/
    color:#b60000;
    /* 親要素にする */
    position: relative;
    /* 画面高さの100%に固定する */
    height: 100vh;
    /* テキストを画面中央に表示 */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hovered_4{
    /* 背景画像の設定*/
    /*background: url("../img/bg_others.jpg") center / cover;
    /*背景色の設定*/
    background-color: black;
    /*文字色を指定する*/
    color:white;
    /* 親要素にする */
    position: relative;
    /* 画面高さの100%に固定する */
    height: 100vh;
    /* テキストを画面中央に表示 */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*スライドショー設定*/
.slider {
    width: 500px;
    overflow: hidden;
    margin: 0 auto;
}
.slider-item {
    width: 500px;
    float: left;
}
.slider-inner {
    width: 500%;
    /*スライドを一周する秒数*/
    animation: slider 15s infinite ease;
}
.slider-inner img{
    width:100%;
    height:400px;
    /*画像がはみ出ている場合は中央でトリミング*/
    object-fit: cover
} 
/*X軸の移動*/
@keyframes slider {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-500px);
    }
    40% {
        transform: translateX(-1000px);
    }
    60% {
        transform: translateX(-1500px);
    }
    80% {
        transform: translateX(-2000px);
    }
    100% {
        transform: translateX(0);
    }
}
.link{
    text-decoration: none;
    color:gold;
}



/*Tablet View*/
@media screen and (max-width: 959px) {
    body{
        /*フォントの指定*/
        font-family: 'EB Garamond','Shippori Mincho', serif;
        /*中央揃え*/
        text-align: center;
    }
    .top{
        /*親要素にする*/
        position:relative;
        /*背景画像を指定する*/
        background:url(../img/bg_top.jpg) center / cover;
        /*画面高さの100%を占有して表示*/
        height:100vh;
        /*背景画像を固定する*/
        background-attachment: fixed;
        /* スクロール開始位置を固定する（ピタッと止まる）*/
        scroll-snap-align: start;
    }
    .img_logo{
        /*子要素にする*/
        position:absolute;
        /*画面幅の50％を占有して表示*/
        width : 50vw;
        /*上下左右の中央揃え*/
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .scroll-snapper{
        /*スクロールスナップの設定*/
        overflow:auto;
        scroll-snap-type: y mandatory;
        height: 100vh;
    }
    .service{
        /*親要素にする*/
        position:relative;
        /*画面高さの100%を占有して表示*/
        height:100vh;
        /*背景色の設定*/
        background-color:white;
        /*スクロール開始位置を固定する（ピタッと止まる*/
        scroll-snap-align: start;
    }
    .works{
        /*親要素にする*/
        position:relative;
        /*画面高さの100%を占有して表示*/
        height:100vh;
        /*背景色の設定*/
        background-color:white;
        /*スクロール開始位置を固定する（ピタッと止まる*/
        scroll-snap-align: start;
    }
    .profile{
        /*親要素にする*/
        position:relative;
        /*画面高さの100%を占有して表示*/
        height:100vh;
        /*背景色の設定*/
        background-color:white;
        /*スクロール開始位置を固定する（ピタッと止まる*/
        scroll-snap-align: start;
    }
    .other-activities{
        /*親要素にする*/
        position:relative;
        /*画面高さの100%を占有して表示*/
        height:100vh;
        /*背景色の設定*/
        background-color:white;
        /*スクロール開始位置を固定する（ピタッと止まる*/
        scroll-snap-align: start;
    }
    .img_title{
        /*子要素にする*/
        position:absolute;
        /*画面幅の50％を占有して表示*/
        width : 50vw;
        /*上下左右の中央揃え*/
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .index{
        font-size:30px;
        line-height: 2.5;
    }
    .description{
        font-size:20px;
        line-height: 1.5;
    }
    .hover-area {
        /*背景色の設定*/
        background-color:white;
        /*親要素にする*/
        position: relative;
        /*画面高さの100%占有して表示*/
        height: 100vh;
        /*テキストを画面中央に表示*/
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .mask{
        width:100%;
        height:100%;
        /*絶対位置指定*/
        position:absolute;
        top:0;
        left:0;
        /* マスクを表示しない */
        opacity:0;
        -webkit-transition:all 1.7s ease;
        transition:all 1.7s ease;
        transition-duration: 1.7s;
    }
    .hover-area:hover .mask {
        /* マスクを表示する */
        opacity:1;
    }
    .hovered_1{
        /* 背景画像の設定*/
        background: url("../img/bg_service.jpg") center / cover;
        /*文字色を指定する*/
        color:black;
        /* 親要素にする */
        position: relative;
        /* 画面高さの100%に固定する */
        height: 100vh;
        /* テキストを画面中央に表示 */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hovered_2{
        /* 背景画像の設定*/
        /*background: url("../img/bg_works.jpg") center / cover;
        /*文字色を指定する*/
        color:black;
        /* 親要素にする */
        position: relative;
        /* 画面高さの100%に固定する */
        height: 100vh;
        /* テキストを画面中央に表示 */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hovered_3{
        /* 背景画像の設定*/
        background: url("../img/bg_prof.gif") center / cover;
        /*文字色を指定する*/
        color:#b60000;
        /* 親要素にする */
        position: relative;
        /* 画面高さの100%に固定する */
        height: 100vh;
        /* テキストを画面中央に表示 */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hovered_4{
        /* 背景画像の設定*/
        background: url("../img/bg_others.jpg") center / cover;
        /*背景色の設定*/
        background-color: white;
        /*文字色を指定する*/
        color:white;
        /* 親要素にする */
        position: relative;
        /* 画面高さの100%に固定する */
        height: 100vh;
        /* テキストを画面中央に表示 */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /*スライドショー設定*/
    .slider {
        width: 500px;
        overflow: hidden;
        margin: 0 auto;
    }
    .slider-item {
        width: 500px;
        float: left;
    }
    .slider-inner {
        width: 500%;
        /*スライドを一周する秒数*/
        animation: slider 15s infinite ease;
    }
    .slider-inner img{
        width:100%;
        height:400px;
        /*画像がはみ出ている場合は中央でトリミング*/
        object-fit: cover
    } 
    /*X軸の移動*/
    @keyframes slider {
        0% {
            transform: translateX(0);
        }
        20% {
            transform: translateX(-500px);
        }
        40% {
            transform: translateX(-1000px);
        }
        60% {
            transform: translateX(-1500px);
        }
        80% {
            transform: translateX(-2000px);
        }
        100% {
            transform: translateX(0);
        }
    }
    .link{
        text-decoration: none;
        color:gold;
    }
    
}



/*Mobile View*/
@media screen and (max-width: 480px) {
    body{
        /*フォントの指定*/
        font-family: 'EB Garamond','Shippori Mincho', serif;
        /*中央揃え*/
        text-align: center;
    }
    .top{
        /*親要素にする*/
        position:relative;
        /*背景画像を指定する*/
        background:url(../img/bg_top_mobile.jpg) center / cover;
        /*画面高さの100%を占有して表示*/
        height:100vh;
        /*背景画像を固定する*/
        background-attachment: fixed;
        /* スクロール開始位置を固定する（ピタッと止まる）*/
        scroll-snap-align: start;
    }
    .img_logo{
        /*子要素にする*/
        position:absolute;
        /*画面幅の80％を占有して表示*/
        width : 80vw;
        /*上下左右の中央揃え*/
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .scroll-snapper{
        /*スクロールスナップの設定*/
        overflow:auto;
        scroll-snap-type: y mandatory;
        height: 100vh;
    }
    .service{
        /*親要素にする*/
        position:relative;
        /*画面高さの100%を占有して表示*/
        height:100vh;
        /*背景色の設定*/
        background-color:white;
        /*スクロール開始位置を固定する（ピタッと止まる*/
        scroll-snap-align: start;
    }
    .works{
        /*親要素にする*/
        position:relative;
        /*画面高さの100%を占有して表示*/
        height:100vh;
        /*背景色の設定*/
        background-color:white;
        /*スクロール開始位置を固定する（ピタッと止まる*/
        scroll-snap-align: start;
    }
    .profile{
        /*親要素にする*/
        position:relative;
        /*画面高さの100%を占有して表示*/
        height:100vh;
        /*背景色の設定*/
        background-color:white;
        /*スクロール開始位置を固定する（ピタッと止まる*/
        scroll-snap-align: start;
    }
    .other-activities{
        /*親要素にする*/
        position:relative;
        /*画面高さの100%を占有して表示*/
        height:100vh;
        /*背景色の設定*/
        background-color:white;
        /*スクロール開始位置を固定する（ピタッと止まる*/
        scroll-snap-align: start;
    }
    .img_title{
        /*子要素にする*/
        position:absolute;
        /*画面幅の50％を占有して表示*/
        width : 50vw;
        /*上下左右の中央揃え*/
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .index{
        font-size:25px;
        line-height: 2.5;
    }
    .description{
        font-size:15px;
        line-height: 1.5;
    }
    .hover-area {
        /*背景色の設定*/
        background-color:white;
        /*親要素にする*/
        position: relative;
        /*画面高さの100%占有して表示*/
        height: 100vh;
        /*テキストを画面中央に表示*/
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .mask{
        width:100%;
        height:100%;
        /*絶対位置指定*/
        position:absolute;
        top:0;
        left:0;
        /* マスクを表示しない */
        opacity:0;
        -webkit-transition:all 1.7s ease;
        transition:all 1.7s ease;
        transition-duration: 1.7s;
    }
    .hover-area:hover .mask {
        /* マスクを表示する */
        opacity:1;
    }
    .hovered_1{
        /* 背景画像の設定*/
        background: url("../img/bg_service.jpg") center / cover;
        /*文字色を指定する*/
        color:black;
        /* 親要素にする */
        position: relative;
        /* 画面高さの100%に固定する */
        height: 100vh;
        /* テキストを画面中央に表示 */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hovered_2{
        /* 背景画像の設定*/
        /*background: url("../img/bg_works.jpg") center / cover;
        /*文字色を指定する*/
        color:black;
        /* 親要素にする */
        position: relative;
        /* 画面高さの100%に固定する */
        height: 100vh;
        /* テキストを画面中央に表示 */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hovered_3{
        /* 背景画像の設定*/
        background: url("../img/bg_prof.gif") center / cover;
        /*文字色を指定する*/
        color:#b60000;
        /* 親要素にする */
        position: relative;
        /* 画面高さの100%に固定する */
        height: 100vh;
        /* テキストを画面中央に表示 */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hovered_4{
        /* 背景画像の設定*/
        /*background: url("../img/bg_others.jpg") center / cover;
        /*背景色の設定*/
        background-color: black;
        /*文字色を指定する*/
        color:white;
        /* 親要素にする */
        position: relative;
        /* 画面高さの100%に固定する */
        height: 100vh;
        /* テキストを画面中央に表示 */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /*スライドショー設定*/
    .slider {
        width: 300px;
        overflow: hidden;
        margin: 0 auto;
    }
    .slider-item {
        width: 300px;
        float: left;
    }
    .slider-inner {
        width: 500%;
        /*スライドを一周する秒数*/
        animation: slider 15s infinite ease;
    }
    .slider-inner img{
        width:100%;
        height:200px;
        /*画像がはみ出ている場合は中央でトリミング*/
        object-fit: cover
    } 
    /*X軸の移動*/
    @keyframes slider {
        0% {
            transform: translateX(0);
        }
        20% {
            transform: translateX(-300px);
        }
        40% {
            transform: translateX(-600px);
        }
        60% {
            transform: translateX(-900px);
        }
        80% {
            transform: translateX(-1200px);
        }
        100% {
            transform: translateX(0);
        }
    }
    .link{
        text-decoration: none;
        color:gold;
    }
    
}
